

.banner-item{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.6em;
    color:rgb(110, 5, 96);
}

.fot-container-item1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color:rgb(110, 5, 96);
}

.fot-container-item2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color:rgb(110, 5, 96);
}


div.scroll {
    margin: 4px, 4px;
    padding: 4px;
    background-color: #ffffff;
    width: 50%;
    height: 20em;
    overflow: auto;
    white-space: nowrap;
}

.minion {
    max-height: 17em;
}
h1 {
    font-size: 20.5px;
}